## Analyzing the World Happiness Data

### Computing summary statistics

In this exercise, we will use pandas to compute some summary statistics of the WHR data.

We'll repeat here some of the code developed in a previous exercise so that we can continue to work with data in this exercise.  Execute the following code cells to load and reconfigure the data.

In [161]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.float_format = '{:.2f}'.format

In [162]:
dfraw = pd.read_excel('WHR2018Chapter2OnlineData.xls', sheet_name='Table2.1')

In [163]:
cols_to_include = ['country', 'year', 'Life Ladder', 
                   'Positive affect','Negative affect',
                   'Log GDP per capita', 'Social support',
                   'Healthy life expectancy at birth', 
                   'Freedom to make life choices', 
                   'Generosity', 'Perceptions of corruption']

df = dfraw[cols_to_include]

### Step 1

In the code cell below, call the ```info``` method on the dataframe ```df``` to remind yourself what the dataframe consists of.

In [164]:
df.info

<bound method DataFrame.info of           country  year  Life Ladder  Positive affect  Negative affect  \
0     Afghanistan  2008         3.72             0.52             0.26
1     Afghanistan  2009         4.40             0.58             0.24
2     Afghanistan  2010         4.76             0.62             0.28
3     Afghanistan  2011         3.83             0.61             0.27
4     Afghanistan  2012         3.78             0.71             0.27
...           ...   ...          ...              ...              ...
1557     Zimbabwe  2013         4.69             0.71             0.18
1558     Zimbabwe  2014         4.18             0.73             0.24
1559     Zimbabwe  2015         3.70             0.72             0.18
1560     Zimbabwe  2016         3.74             0.74             0.21
1561     Zimbabwe  2017         3.64             0.81             0.22

      Log GDP per capita  Social support  Healthy life expectancy at birth  \
0                   7.17            0.45                             49.21
1                   7.33            0.55                             49.62
2                   7.39            0.54                             50.01
3                   7.42            0.52                             50.37
4                   7.52            0.52                             50.71
...                  ...             ...                               ...
1557                7.57            0.80                             48.95
1558                7.56            0.77                             50.05
1559                7.56            0.74                             50.93
1560                7.54            0.77                             51.80
1561                7.54            0.75                             52.67

      Freedom to make life choices  Generosity  Perceptions of corruption
0                             0.72        0.18                       0.88
1                             0.68        0.20                       0.85
2                             0.60        0.14                       0.71
3                             0.50        0.18                       0.73
4                             0.53        0.25                       0.78
...                            ...         ...                        ...
1557                          0.58       -0.08                       0.83
1558                          0.64       -0.05                       0.82
1559                          0.67       -0.09                       0.81
1560                          0.73       -0.07                       0.72
1561                          0.75       -0.07                       0.75

[1562 rows x 11 columns]>

### Step 2

The ```describe``` method on a dataframe provides a useful statistical summary of the data.  In the code cell below, enter an expression to call this method and examine the output.

In [165]:
df.describe

<bound method NDFrame.describe of           country  year  Life Ladder  Positive affect  Negative affect  \
0     Afghanistan  2008         3.72             0.52             0.26
1     Afghanistan  2009         4.40             0.58             0.24
2     Afghanistan  2010         4.76             0.62             0.28
3     Afghanistan  2011         3.83             0.61             0.27
4     Afghanistan  2012         3.78             0.71             0.27
...           ...   ...          ...              ...              ...
1557     Zimbabwe  2013         4.69             0.71             0.18
1558     Zimbabwe  2014         4.18             0.73             0.24
1559     Zimbabwe  2015         3.70             0.72             0.18
1560     Zimbabwe  2016         3.74             0.74             0.21
1561     Zimbabwe  2017         3.64             0.81             0.22

      Log GDP per capita  Social support  Healthy life expectancy at birth  \
0                   7.17            0.45                             49.21
1                   7.33            0.55                             49.62
2                   7.39            0.54                             50.01
3                   7.42            0.52                             50.37
4                   7.52            0.52                             50.71
...                  ...             ...                               ...
1557                7.57            0.80                             48.95
1558                7.56            0.77                             50.05
1559                7.56            0.74                             50.93
1560                7.54            0.77                             51.80
1561                7.54            0.75                             52.67

      Freedom to make life choices  Generosity  Perceptions of corruption
0                             0.72        0.18                       0.88
1                             0.68        0.20                       0.85
2                             0.60        0.14                       0.71
3                             0.50        0.18                       0.73
4                             0.53        0.25                       0.78
...                            ...         ...                        ...
1557                          0.58       -0.08                       0.83
1558                          0.64       -0.05                       0.82
1559                          0.67       -0.09                       0.81
1560                          0.73       -0.07                       0.72
1561                          0.75       -0.07                       0.75

[1562 rows x 11 columns]>

Let's look at the output above and compare it with data presented in Table 4 of [Appendix 1 of the 2018 World Happiness Report](https://s3.amazonaws.com/happiness-report/2018/Appendix1ofChapter2.pdf).  Here is Table 4 reproduced from that report:

<img src='appendix4.png' width=650 height=650 align="left"/>

Imagine that you were asked to produce a table of this form from the underlying data.  Let's see what is required to get our summary data to resemble Table 4.

### Step 3.

The first thing you'll notice is that the orientation of the table is different from that produced by ```df.describe```, with data categories listed in rows and summary statistics in the columns.  One easy way to reorient the data produced by ```describe``` is to look at the <i>transpose</i> of the data, that is, what one gets when rows and columns are swapped.

The transpose of a dataframe can be accessed simply by accessing the attribute named ```.T``` on the dataframe.  Note that ```T``` is not a method that is called, so it is not followed by parentheses.  Instead, it is a static attribute of the dataframe that can be accessed through that name.

The code cell below contains an expression to return the transpose of the summary description provided by ```describe```.

In [166]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,1562.00,2011.82,3.42,2005.00,2009.00,2012.00,2015.00,2017.00
Life Ladder,1562.00,5.43,1.12,2.66,4.61,5.33,6.27,8.02
Positive affect,1544.00,0.71,0.11,0.36,0.62,0.72,0.80,0.94
Negative affect,1550.00,0.26,0.08,0.08,0.20,0.25,0.31,0.70
Log GDP per capita,1535.00,9.22,1.18,6.38,8.31,9.40,10.19,11.77
Social support,1549.00,0.81,0.12,0.29,0.75,0.83,0.90,0.99
Healthy life expectancy at birth,1553.00,62.25,7.96,37.77,57.30,63.80,68.10,76.54
Freedom to make life choices,1533.00,0.73,0.15,0.26,0.63,0.75,0.84,0.99
Generosity,1482.00,0.00,0.16,-0.32,-0.11,-0.02,0.09,0.68
Perceptions of corruption,1472.00,0.75,0.19,0.04,0.70,0.81,0.88,0.98

### Step 4.

This is looking a bit more like Table 4, although there is some extraneous information that we can remove using the ```drop``` method on a dataframe.  We can also rename the quantities produced by ```df.describe``` to make them appear as in Table 4.

Examine the documentation for ```df.drop``` and note that one can specify one or more labels to drop, as well as an axis along which to drop.  For our summary data, we'd like to drop the row labeled 'year' and the columns labeled by '25%', '50%', and '75%', since they are not included in Table 4.

In the code cell below, we define a dictionary for the column renaming, and a list defining the column order for the finished table.  

The code cell below that contains code to do the following:

* From the transposed summary data, drops the row labeled 'year'.
* From the resulting dataframe, drops the columns labeled '25%', '50%', and '75%'.
* Using the `rename` method on the resulting dataframe, renames the columns according to the mapping defined in ```column_renaming```. 
* Selects out the columns in the list defined by ```column_order``` and assigns the resulting dataframe to the variable ```dfsummary```.


Examine the new dataframe ```dfsummary``` and compare it to Table 4.

In [167]:
column_renaming = {'count': 'N', 'mean': 'Mean', 'std': 'Std. Dev.', 'min': 'Min.', 'max': 'Max.'}
column_order = ['Mean', 'Std. Dev.', 'Min.', 'Max.', 'N']

In [168]:
dfsummary = df.describe().T.drop('year', axis=0).drop(['25%', '50%', '75%'], axis=1).rename(column_renaming, axis=1)[column_order]
dfsummary

                                  Mean  Std. Dev.  Min.  Max.       N
Life Ladder                       5.43       1.12  2.66  8.02 1562.00
Positive affect                   0.71       0.11  0.36  0.94 1544.00
Negative affect                   0.26       0.08  0.08  0.70 1550.00
Log GDP per capita                9.22       1.18  6.38 11.77 1535.00
Social support                    0.81       0.12  0.29  0.99 1549.00
Healthy life expectancy at birth 62.25       7.96 37.77 76.54 1553.00
Freedom to make life choices      0.73       0.15  0.26  0.99 1533.00
Generosity                        0.00       0.16 -0.32  0.68 1482.00
Perceptions of corruption         0.75       0.19  0.04  0.98 1472.00

### Step 5

You may notice that one lingering point of discrepancy between the summary dataframe you've produced and the WHR Table 4 is that the number of counts ```N``` in Table 4 is reported as an integer, whereas it is a floating point number in our summary dataframe.  We can alter the type of that column with the code in the following cell.  Execute the code cell below.

In [169]:
dfsummary['N'] = dfsummary['N'].astype(int)
dfsummary

                                  Mean  Std. Dev.  Min.  Max.     N
Life Ladder                       5.43       1.12  2.66  8.02  1562
Positive affect                   0.71       0.11  0.36  0.94  1544
Negative affect                   0.26       0.08  0.08  0.70  1550
Log GDP per capita                9.22       1.18  6.38 11.77  1535
Social support                    0.81       0.12  0.29  0.99  1549
Healthy life expectancy at birth 62.25       7.96 37.77 76.54  1553
Freedom to make life choices      0.73       0.15  0.26  0.99  1533
Generosity                        0.00       0.16 -0.32  0.68  1482
Perceptions of corruption         0.75       0.19  0.04  0.98  1472

### Step 6

Appendix 1 of the WHR presents several tables similar to Table 4, for different intervals of years, in order to examine how the summary statistics have changed over time.  In the code cells above, we executed several steps to produce a summary dataframe of the desired form.  Since we will want to produce different summary tables for different intervals of years, we can bundle up all the data processing steps above into a new <b>function</b> that we can call, by passing in different dataframes as input to the function.  If we wanted to get summary statistics for just a subset of years, we could create a new dataframe by filtering the full dataset just for those years, and then pass the new dataframe to our function.

In the code cell below, write a <b>function</b> named ```produce_summary_table``` that takes a dataframe as an argument (i.e `produce_summary_table(df)`) and returns a <b>summary dataframe</b>. 

* The input <b>dataframe</b> should be derived from the WHR2018Chapter2OnlineData.xls Table 2.1 data we've been working with.

* The returned <b>summary dataframe</b> should be in the same form as Table 4 above. 

* In writing this function, you should include all of the steps we took in Steps 4 and 5 above to achieve the final result; you will also want to pull in the code above that defines the variables ```column_renaming``` and ```column_order```.

In [195]:
# YOUR CODE HERE
def produce_summary_table(df):
    print(produce_summary_table)

## Self-Check

Run the cell below to test the correctness of your code in the cell above.

In [196]:
# Run this self-test cell to check your code; do not add code or delete code in this cell
from jn import testFunction

try:
    print(testFunction(produce_summary_table))    
except Exception as e:
    print("Error!\n" + str(e))

<function produce_summary_table at 0x7fd8a7aa9f28>
Error!
'NoneType' object has no attribute 'loc'

Test your new function with the dataframe ```df``` that we were working with above.  It should return the summary table that mirrors Table 4.

In [197]:
df

,country,year,Life Ladder,Positive affect,Negative affect,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.72,0.52,0.26,7.17,0.45,49.21,0.72,0.18,0.88
1,Afghanistan,2009,4.40,0.58,0.24,7.33,0.55,49.62,0.68,0.20,0.85
2,Afghanistan,2010,4.76,0.62,0.28,7.39,0.54,50.01,0.60,0.14,0.71
3,Afghanistan,2011,3.83,0.61,0.27,7.42,0.52,50.37,0.50,0.18,0.73
4,Afghanistan,2012,3.78,0.71,0.27,7.52,0.52,50.71,0.53,0.25,0.78
...,...,...,...,...,...,...,...,...,...,...,...
1557,Zimbabwe,2013,4.69,0.71,0.18,7.57,0.80,48.95,0.58,-0.08,0.83
1558,Zimbabwe,2014,4.18,0.73,0.24,7.56,0.77,50.05,0.64,-0.05,0.82
1559,Zimbabwe,2015,3.70,0.72,0.18,7.56,0.74,50.93,0.67,-0.09,0.81
1560,Zimbabwe,2016,3.74,0.74,0.21,7.54,0.77,51.80,0.73,-0.07,0.72
1561,Zimbabwe,2017,3.64,0.81,0.22,7.54,0.75,52.67,0.75,-0.07,0.75

Appendix 1 of the WHR presents similar summary tables for different groups of years:

* 2005-2007: Table 5
* 2008-2010: Table 6
* 2015-2017: Table 7

To reproduce each of these tables, you will want to create a new dataframe that filters out the subset of the data in the specified years, as was discussed above in Step 6.  There are various ways to do this extraction.  One way is to use the ```isin``` method on a dataframe or series, which can be used to select those entries which are contained within a specified set of values.  For example, the expression ```df[df.year.isin(range(1900,2000))]``` would return a new dataframe containing all rows of ```df``` that had a year between 1900 and 1999.

### Step 7

The code cell below contains three new dataframes for each of the year ranges associated with Tables 5, 6, and 7, by extracting the appropriate set of years. It uses the function you wrote above to create a summary table for each dataframe (your function takes a dataframe as input). It assigns the resulting summary tables to the names ```dfsummary0507```, ```dfsummary0810```, and ```dfsummary1517```. 
<br>
<br>
The remaining three code cells below are populated with the table names ```dfsummary0507```, ```dfsummary0810```, and ```dfsummary1517```. Execute these cells to compare your tables with the corresponding tables in WHR Appendix 1.

In [198]:
df0507 = df[df.year.isin(range(2005,2008))]
df0810 = df[df.year.isin(range(2008,2011))]
df1517 = df[df.year.isin(range(2015,2018))]
dfsummary0507 = produce_summary_table(df0507)
dfsummary0810 = produce_summary_table(df0810)
dfsummary1517 = produce_summary_table(df1517)

<function produce_summary_table at 0x7fd8a7aa9f28>
<function produce_summary_table at 0x7fd8a7aa9f28>
<function produce_summary_table at 0x7fd8a7aa9f28>

In [199]:
dfsummary0507

In [200]:
dfsummary0810

In [201]:
dfsummary1517